
<div class="container" id="landing">

  <div class="row">
    <div class="col-xs-12">
      <h1>What's <em>your</em> opinion?</h1>
      <h4>
        Easily get the public's insight by making and sharing polls.
      </h4>
      <a href="/login"><button class="btn btn-lg btn-primary">Sign up!</button></a>
    </div>
  </div>

</div>
<div id="features">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>Make polls</h2>
        <p>
          Make a lot of polls, as many as you like. The simple interface allows you to manage all of them from one place, and view the results with ease.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Share polls</h2>
        <p>
          Share the polls with your family, friends, and anyone else you can think of! Reach as many people as you possibly can, to make your insight even more valuable.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Browse polls</h2>
        <p>
          If you fancy, you can even vote on other people's polls, and see the results of these in realtime! It's like Instagram, but for polls! Awesome!
        </p>
      </div>
    </div>
  </div>
</div>
