

/* Importing */
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');

/* Variables */

$mobile-breakpoint : 435px;

$theme-color : #3F51B5;
$theme-color-dark : #303F9F;
$theme-color-light : #C5CAE9;

$theme-accent-color : #FF5252;
$text-color : #212121;
$text-color-light : #FFFFFF;

$header-font: "Raleway", sans-serif;
$text-font : "Source Sans Pro", sans-serif;
