
@import "variables";

/* Styles */

html, body {
  color: $text-color;
  font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

nav {

  &.navbar {
    border-radius: 0px;
    background-color: $theme-color-dark;
    color: $text-color-light;

    a {
      color: $text-color-light;
      cursor: pointer;
      &:hover, &:visited {
        color: $text-color-light;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .navbar-text {
      color: #ddd;
    }
  }

  #sign-up {
    background-color: $theme-accent-color;
  }

  .navbar-brand {
    img {
      height: 100%;
      width: auto;
    }
  }
}
